<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h3>Listagem de Cliente</h3>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a class="btn btn-primary" href="#/cliente-pesquisa" role="button">Voltar</a>
			<a class="btn btn-default" href="#/cliente-novo" role="button">Novo...</a>
			<a class="btn btn-danger" href="#/cliente-lista" role="button">Excluir</a>
			<hr>		
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>-</th>
					<th>Nome</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" value="1"></td>
					<td>João</td>
					<td>joao@gmail.com</td>
				</tr>
				<tr>
					<td><input type="checkbox" value="1"></td>
					<td>Maria</td>
					<td>maria@hotmail.com</td>
				</tr>
				<tr>
					<td><input type="checkbox" value="1"></td>
					<td>Carlos</td>
					<td>carlinhos@gmail.com</td>
				</tr>
			</tbody>
		</table>

		</div>
	</div>
</div>